.offer-section {
  padding-top: 0px;
}
.offer-section > .container > .h2 > span {
  color: #f59e0b;
  display: inline;
}
.offer-section > .container > p {
  font-size: 1em;
  color: #4b5563;
  margin: 1em 0em;
  text-align: center;
  padding-inline: 1em;
}
.offer-card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  flex-wrap: wrap;
}
.offer-card {
  position: relative;
  width: 300px;
  padding-top: 60px; /* Space for the profile image */
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 280px;
  margin-top: 3em;
}
.offer-card-image {
  position: absolute;
  top: -30px; /* Half of the image height to center it */
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white; /* Optional border */
  background-color: #0961a2;
}
.offer-card-image > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* MEDIA QUERY */

@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr;
  }

  /* OFFER COURSES */
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 4.6rem;
    --fs-2: 3.8rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .btn {
    padding: 15px 30px;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr 1fr;
  }

 
}

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  html {
    /**
     * typography
     */

    --fs-1: 5.5rem;
    --fs-2: 4.5rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

 
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 6.5rem;

    /**
     * spacing
     */

    --section-padding: 120px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1185px;
  }

  .shape {
    display: block;
  }

  .about-content,
  .video-card,
  .blog {
    position: relative;
  }

  
  
}
