.major-course-listing-section{
    margin-top: 6em;
   
}
.major-course-listing-container{
    display: flex;
    flex-direction: column;
}


/* MEDIA QUERY */

@media (min-width: 575px) {
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 520px;
      width: 100%;
      margin-inline: auto;
    }
  
    .grid-list {
      grid-template-columns: 1fr 1fr;
    }
  
    :is(.course, .blog) .grid-list {
      grid-template-columns: 1fr;
    }
  
    /**
     * SIDEBAR
     */

  
   
  }
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 4.6rem;
      --fs-2: 3.8rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 720px;
    }
  
    .btn {
      padding: 15px 30px;
    }
  
    :is(.course, .blog) .grid-list {
      grid-template-columns: 1fr 1fr;
    }
  
    /**
     * SIDEBAR
     */
  
    
  }
  
  @media (min-width: 992px) {
    /**
     * CUSTOM PROPERTY
     */
  
    html {
      /**
       * typography
       */
  
      --fs-1: 5.5rem;
      --fs-2: 4.5rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 960px;
    }
  
    .grid-list {
      grid-template-columns: repeat(4, 1fr);
    }
  
    :is(.course, .blog) .grid-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /**
     * MAJORCOURSELISTING
     */

     .major-course-listing-container{
        display: flex;
        flex-direction: row;
    }   
   
    
  }
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 6.5rem;
  
      /**
       * spacing
       */
  
      --section-padding: 120px;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 1185px;
    }
  
    .shape {
      display: block;
    }
  
    .about-content,
    .video-card,
    .blog {
      position: relative;
    }
  
   
    /**
     * MAJORCOURSELISTING
     */
  
     .major-course-listing-container{
        display: flex;
        flex-direction: row;
    }   
   
    
  }