.course-explore-section {
  padding-top: 0;
}
.course-explore-heading {
  display: none;
  justify-content: space-between;
}

.card-explore-course-card-container {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  height: 500px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.course-explore-heading > h3 {
  color: #0961a2;
}
.course-explore-heading > h4 {
  color: #fba333;
  cursor: pointer;
}

/* MEDIA QUERY */

@media (min-width: 575px) {
  /**
     * REUSED STYLE
     */

  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr;
  }

  /**
     * COURSE EXPLORER
     */
}

/**
   * responsive for large than 768px screen
   */

@media (min-width: 768px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-1: 4.6rem;
    --fs-2: 3.8rem;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 720px;
  }

  .btn {
    padding: 15px 30px;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
     * COURSE EXPLORER
     */
}

@media (min-width: 992px) {
  /**
     * CUSTOM PROPERTY
     */

  html {
    /**
       * typography
       */

    --fs-1: 5.5rem;
    --fs-2: 4.5rem;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
     * COURSE EXPLORER
     */

  .course-explore-heading {
    display: flex;
  }
  .course-explore-mobile-heading {
    display: none;
  }
  .card-explore-course-card-container {
    overflow-x: hidden;
  }
}

/**
   * responsive for large than 1200px screen
   */

@media (min-width: 1200px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-1: 6.5rem;

    /**
       * spacing
       */

    --section-padding: 120px;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 1185px;
  }

  .about-content,
  .video-card,
  .blog {
    position: relative;
  }

  /**
     * COURSE EXPLORER
     */

  .course-explore-heading {
    display: flex;
  }
  .course-explore-mobile-heading {
    display: none;
  }
  .card-explore-course-card-container {
    overflow-x: hidden;
  }
}
